<?= $this->element('Navbar/files'); ?>
<div class="files form large-9 medium-8 columns content">
    <?= $this->Form->create($file) ?>
    <fieldset>
        <legend><?= __('Edit File') ?></legend>
        <?php
            echo $this->Form->input('name');
//            echo $this->Form->input('type');
//            echo $this->Form->input('size');
//            echo $this->Form->input('is_folder');
//            echo $this->Form->input('folder_id', ['options' => $files, 'empty' => true]);
//            echo $this->Form->input('uploader_id');
//            echo $this->Form->input('users._ids', ['options' => $users]);
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
